@font-face {
    font-family: kiona;
    src: url(assets/Kiona-Regular.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
    background-image: url(assets/bg_Clouds.jpg);
    background-repeat: repeat-y;
    background-size: 100vw;
    background-color: #a2bed0;
    min-height: 100%;
    font-family: kiona, sans-serif;
    text-align: center;
}

header {
    color: white;
    background-image: url(assets/Galaxy_02_Much_Better.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 150px;
}

nav {}

header img {
    height: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

main {
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 150px;
}

table {
    margin: auto;
}

td {
    border: 1px solid;
}

td img {
    object-fit: cover;
}

td,
td img {
    width: 150px;
    height: 150px;
}

.border-red {
    border-color: #e92024;
}

.border-orange {
    border-color: #f58718;
}

.border-yellow {
    border-color: #fcef1f;
}

.border-green {
    border-color: #71b82e;
}

.border-cyan {
    border-color: #69c8de;
}

.border-blue {
    border-color: #2650a0;
}

.border-purple {
    border-color: #574a99;
}

.border-violet {
    border-color: #97509c;
}

.border-pink {
    border-color: #df4091;
}

.border-none {
    border: none;
}

#collage img {
    border: 1px solid;
    display: inline-block;
    width: 40%;
}

section>img {
    width: 80%;
    margin: auto;
}